@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #16181d;
  color: white;
}

#tsparticles {
  height: 100vh;
  width: 100vw;
}

* {
  outline: none;
}

h1,
h2,
h3,
h4,
h4,
h5,
h6,
span,
p,
img {
  user-select: none;
}
