@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #16181d;
  color: white;
}

#tsparticles {
  height: 100vh;
  width: 100vw;
}

* {
  outline: none;
}

h1,
h2,
h3,
h4,
h4,
h5,
h6,
span,
p,
img {
  user-select: none;
}

/* hide scrollbar */
::-webkit-scrollbar {
  display: none;
}

.ticker-container:hover > * {
  animation-play-state: paused;
}

.ticker-text {
  white-space: nowrap;
  animation: ticker 40s linear infinite; /* Adjust the duration as needed */
  white-space: nowrap;
}

.ticker-text2 {
  white-space: nowrap;
  animation: ticker2 40s linear infinite; /* Adjust the duration as needed */
  position: absolute;
  white-space: nowrap;
}

@keyframes ticker {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes ticker2 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

.moving-div {
  position: absolute; /* Absolute positioning to move divs */
  animation: move 10s linear infinite; /* Infinite linear animation */
}

@keyframes move {
  0% {
    left: 100%; /* Start off-screen on the right */
  }
  100% {
    left: -50px; /* End off-screen on the left */
  }
}

/* Additional styling for spacing the divs */
.moving-div:nth-child(2) {
  animation-delay: 1s;
}

.moving-div:nth-child(3) {
  animation-delay: 2s;
}
.moving-div:nth-child(4) {
  animation-delay: 3s;
}
.moving-div:nth-child(5) {
  animation-delay: 4s;
}
.moving-div:nth-child(6) {
  animation-delay: 5s;
}
.moving-div:nth-child(7) {
  animation-delay: 6s;
}
.moving-div:nth-child(8) {
  animation-delay: 7s;
}
.moving-div:nth-child(9) {
  animation-delay: 8s;
}
.moving-div:nth-child(10) {
  animation-delay: 9s;
}
.moving-div:nth-child(11) {
  animation-delay: 10s;
}
.moving-div:nth-child(12) {
  animation-delay: 11s;
}

.why-invest-box {
  background: url(/coin.png), url(/bg.png);
  background-repeat: no-repeat, no-repeat;
  background-size:
    300px 250px,
    100% 100%;
  background-position:
    90% 100%,
    50% 50%;
}
